body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#carte {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#Titre{
    position: absolute;
    right: 10px;
    bottom:25px;
    z-index: 401;
    background-color: rgb(247,248,248);
    color: gray;
    font-weight: bold;
    font-size:1.4em;
    padding: 10px;
    text-align: center;
  }

.popupTitle{
    margin: 0;
    padding: 0;
    color: rgb(35, 155, 35);
    font-weight: 700;
    font-size: 18px;

}
.divPopup p{
    margin: 0;
    padding: 0;
}


#infosTouristiques{
    margin: 0;
    font-weight: 500;
    border-radius: 10px;
    border: 1px rgb(88, 88, 88) solid;
    padding: 3px;
    font-size: .7em;
}

#infosTouristiques p {
    margin: 0;
}

.infosTouristiques {
    font-weight: 700;
    font-size: .9em;
    margin: 0px;
    padding: 0;
    color: rgb(28, 100, 233);
}

@media screen and (max-width: 450px) {
    #Titre{
        position: absolute;
        right: 0;
        left:0;
        width: 100%;
        padding: 0;
        border-width: 0px;
        font-size: 1.4em;
    }

    #infosTouristiques{
        border-width: 0px;
    }

}